@import "tailwindcss";


@font-face {
  font-family: 'GothamRndBold';
  src: url('/fonts/GOTHAMRND-BOLD.otf') format('opentype');
}

.gotham{
  font-family: 'GothamRndBold';
}
body {
  margin: 0;
  padding: 0;
}

.fadeinanimation {
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: scale(0.95); 
  }
  50% {
    opacity: 0.7;
    transform: scale(1.02); 
  }
  100% {
    opacity: 1;
    transform: scale(1); 
  }
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-outline {
  color: #dc2626; 
  -webkit-text-stroke: 18px white; 
  paint-order: stroke fill;
}